.contentWrapper {
  position: relative;
  padding: 1px;
  border-radius: 8px;
}

.backgroundContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  filter: blur(1px);
  border-radius: 8px;
  transition: opacity 1.5s ease 0s;
  opacity: 0.75;
  background: conic-gradient(
    from 217.29deg at 51.63% 52.16%,
    rgb(36, 0, 255) 0deg,
    rgb(0, 135, 255) 19.5deg,
    rgb(255, 29, 122) 102.75deg,
    rgb(245, 56, 27) 152.25deg,
    rgb(255, 83, 53) 208.88deg,
    rgb(105, 30, 255) 291deg
  );
}

.textContainer {
  position: relative;
  background: white;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 11px 24px 11px 16px;
}
