.container {
  display: flex;
  background-color: var(--offwhite);
}

.contentWrapper {
  min-height: 100vh;
  overflow-y: auto;
  background-color: var(--offwhite);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 3rem;
}

.monke {
  width: 4rem;
  height: auto;
}

@media (max-width: 1200px) {
  .contentWrapper {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .contentWrapper {
    min-height: auto;
    margin-left: 0;
  }
}

@media (max-width: 600px) {
  .content {
    padding: 1rem 0;
  }
}

@media (max-width: 400px) {
  .content {
    padding: 1rem 0;
  }
}

@media (max-width: 330px) {
  .content {
    padding: 1rem 0;
  }
}
